[submodule "yolov5"]
	path = yolov5
	url = git@github.com:ultralytics/yolov5.git
[submodule "Fall2022-CV-FinalProjectDemo"]
	path = Fall2022-CV-FinalProjectDemo
	url = https://github.com/vBazilevich/Fall2022-CV-FinalProjectDemo.git
